* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search {
  background-color: rgba(0, 149, 255, 0.584);
  text-align: center;
  padding: 15px 0;
}

h2 {
  color: #000;
  padding-bottom: 20px;
}

input {
  padding: 10px;
  width: 40%;
  height: 40px;
  border-radius: 7px;
  border: none;
}
